<!DOCTYPE html>
<html ng-app="mainModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Intelligence - @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/global")
    @Styles.Render("~/Content/BootstrapSwitch")
    @Styles.Render("~/Content/theme")
    @Styles.Render("~/Content/datepicker")
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body class="page-header-fixed page-quick-sidebar-over-content">
    <div class="page-header -i navbar navbar-fixed-top">
        @{
            Html.RenderPartial("_PageHeaderInner");
        }
    </div>
    <div class="clearfix">
    </div>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <li class="sidebar-toggler-wrapper">
                        <div class="sidebar-toggler">
                        </div>
                    </li>
                    <li class="sidebar-search-wrapper">
                        <form class="sidebar-search " action="" method="POST">
                            <a href="javascript:;" class="remove">
                                <i class="icon-close"></i>
                            </a>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                                </span>
                            </div>
                        </form>
                    </li>
                    <li class="start active" id="Dashboard">
                        <a href="#">
                            <i class="icon-home"></i>
                            <span class="title">Dashboard</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="page-content-wrapper">
            @RenderBody()
        </div>
        <a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
        <div class="page-quick-sidebar-wrapper">
        </div>
    </div>
    <div class="page-footer">
        <div class="page-footer-inner">
            @DateTime.Now.Year &copy; Sigmatec. Business Intelligence
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    var appMainModule = angular.module("appMain", []);
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/layout/jquery-migrate.min.js"></script>
    <script src="~/Scripts/layout/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/assets")
    @Scripts.Render("~/Scripts/bootstrapswitch")
    @Scripts.Render("~/Scripts/flot")
    @Scripts.Render("~/Scripts/metronic")
    @Scripts.Render("~/Scripts/layout")
    @Scripts.Render("~/Scripts/sidebar")
    @Scripts.Render("~/Scripts/demo")
    <script src="~/Js/App.js"></script>
    <script type="text/javascript">
        window.MyApp = {};
    </script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        MyApp.rootPath = '@Url.Content("~")';
        @RenderSection("jsCode", required: false)
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features
        });
    </script>
</body>
</html>